.kanban-column{
    margin: 0 2rem;
    min-width: max-content;
}
.column-title{
    font-size: 1rem;
    font-weight: 600;
    color: #172b4d;
    margin: 0.5rem 0;
}
.column-head{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
/* .column-icon{
    width: 24px;
    height: 24px;
} */