.kanban-column{
    margin: 0 2rem;
    min-width: max-content;
}
.column-title{
    font-weight: 600;
    color: #172b4d;
}
.column-icon{
    display: flex;
    align-items: center;
}
.column-head-title{
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
}
.column-head-more{
    display: flex;
}
.column-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.column-count{
    font-weight: 400;
}
.column-head-more-icon{
    cursor: pointer;
    display: flex;
}